@using InventoryWebApplication.Models.Database
@using InventoryWebApplication.Services.Database
@inject DatabaseService<PaymentMethod> _databaseService

@{
    ViewBag.Title = "Products Management";
    ViewBag.PreviousPage = "";
    Layout = "_Layout";
}

<h3>Products</h3>
<div class="btn-toolbar">
    <a asp-controller="PaymentMethods" asp-action="AddPaymentMethodForm">
        <button class="btn-secondary">Add</button>
    </a>
</div>
<div class="table-wrapper table-items-wrapper">
    <table class="table table-bordered">
        <colgroup>
            <col span="1" style="width: 6%">
            <col span="1" style="width: 60%">
            <col span="1" style="width: auto">
        </colgroup>

        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Profit Margin (%)</th>
        </tr>

        @foreach (PaymentMethod paymentMethod in _databaseService.GetAll())
        {
            <tr>
                <td>
                    <a class="normal-text-link" href="/paymentMethods/edit/@paymentMethod.Id">
                        <div>
                            @paymentMethod.Id
                        </div>
                    </a>
                </td>
                <td>
                    <a class="normal-text-link" href="/paymentMethods/edit/@paymentMethod.Id">
                        <div>
                            @paymentMethod.Name
                        </div>
                    </a>
                </td>
                <td>
                    <a class="normal-text-link" href="/paymentMethods/edit/@paymentMethod.Id">
                        <div>
                            @paymentMethod.ProfitMarginPercentage
                        </div>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>

@section Scripts
{
    <script>
        
    </script>
}