@{
    ViewBag.Title = "Add Product";
    ViewBag.PreviousPage = "products";
    Layout = "_FormsLayout";
}

<form class="simple-form" method="post" asp-controller="Products" asp-action="AddProduct">
    <div class="form-section">
        <label class="form-label" for="nameInput">Name: </label>
        <input type="text" name="name" id="nameInput"/>
        <br/>

        <div class="form-field">
            <label class="form-label" for="descriptionInput">Description: </label>
            <textarea type="text" name="description" id="descriptionInput" cols="22" rows="5"></textarea>
        </div>

        <label class="form-label" for="availableQuantityInput">Available: </label>
        <input type="number" step="1" min="0" max="@int.MaxValue" name="availableQuantity" id="availableQuantityInput"/>
        <br/>

        <label class="form-label" for="costInput">Cost: </label>
        <input type="number" step="0.01" min="0" max="@float.MaxValue" name="cost" id="costInput"/>
        <br/>

        <label class="form-label" for="sellInput">Sell price: </label>
        <input type="number" step="0.01" min="0" max="@float.MaxValue" name="sell" id="sellInput"/>
        <br/>
    </div>
    <button class="btn-primary" type="submit">Add</button>
</form>