
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h3>Add User</h3>
<form method="post" asp-controller="Users" asp-action="AddUser">
    <div class="form-body">
        
    </div>
    <input type="submit">
</form>
