@model InventoryWebApplication.Operations.MessageOperation

@{
    Layout = "_Layout";
}

<h3>@ViewData["Title"]</h3>
@if (!Model.IsEmpty)
{
    <div role="alert" class="alert-@Model.Severity" id="failed-alert">@Model.Message</div>
}

@RenderBody()

@section Scripts
{
    @if (!Model.IsEmpty)
    {
        <script>
            fadeAlert();
        </script>
    }
    @await RenderSectionAsync("Scripts", false)
}