@using InventoryWebApplication.Utils
@{
    ViewBag.Title = "Home";
    ViewBag.PreviousPage = "";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Role.GetFormattedName(User.Claims.GetRole())</h1>
    <div class="card-deck card-actions">
        @if (User.HasAccessTo(Role.HrManager))
        {
            <a class="normal-text-link" asp-controller="Users" asp-action="ListUsers">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Manage Users</h5>
                        <span class="card-img" uk-icon="icon: users; ratio: 7.5"></span>
                    </div>
                </div>
            </a>
        }

        @if (User.HasAccessTo(Role.HrManager))
        {
            <a class="normal-text-link" asp-controller="PaymentMethods" asp-action="ListPaymentMethods">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Manage P. Methods</h5>
                        <span class="card-img">
                            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
                                <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
                                <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
                                <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
                            </svg>
                        </span>
                    </div>
                </div>
            </a>
        }

        @if (User.HasAccessTo(Role.StockManager))
        {
            <a class="normal-text-link" asp-controller="Products" asp-action="ListProducts">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Manage Products</h5>
                        <span class="card-img">
                            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
                                <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                            </svg>
                        </span>
                    </div>
                </div>
            </a>
        }

        @if (User.HasAccessTo(Role.StockManager))
        {
            <a class="normal-text-link" asp-controller="Reports" asp-action="GeneralReports">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Reports</h5>
                        <span class="card-img">
                            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
                                <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                            </svg>
                        </span>
                    </div>
                </div>
            </a>
        }

        @if (User.HasAccessTo(Role.Seller))
        {
            <a class="normal-text-link" asp-controller="Sales" asp-action="SalesMenu">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Sales Menu</h5>
                        <span class="card-img">
                            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-bag-check" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                            </svg>
                        </span>
                    </div>
                </div>
            </a>
        }

        @if (User.HasAccessTo(Role.HrManager))
        {
            <a class="normal-text-link" asp-controller="Settings" asp-action="Settings">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Settings</h5>
                        <span class="card-img" uk-icon="icon: settings; ratio: 7.5"></span>
                    </div>
                </div>
            </a>
        }

        @if (User.HasAccessTo(Role.StockManager))
        {
            <a class="normal-text-link" asp-controller="Import" asp-action="ImportMenu">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Import Menu</h5>
                        <span class="card-img" uk-icon="icon: upload; ratio: 7.5"></span>
                    </div>
                </div>
            </a>
        }

        @if (User.HasAccessTo(Role.StockManager))
        {
            <a class="normal-text-link" asp-controller="Export" asp-action="ExportMenu">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Export Menu</h5>
                        <span class="card-img" uk-icon="icon: download; ratio: 7.5"></span>
                    </div>
                </div>
            </a>
        }

        <a class="normal-text-link" asp-controller="Authentication" asp-action="Logout">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-dark">Logout</h5>
                    <span class="card-img" uk-icon="icon: sign-out; ratio: 7.5"></span>
                </div>
            </div>
        </a>
    </div>
</div>