@using System.Security.Claims
@using InventoryWebApplication.Utils
@using InventoryWebApplication.Utils.Formatting
@inject InventoryWebApplication.Services.UsersService _usersService
@{
    ViewBag.Title = "Home";
    ViewBag.PreviousPage = "";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome @User.Claims.GetRole().Capitalize()</h1>
    <div class="card-group card-actions">
        @if (User.IsInRole("manager"))
        {
            <a asp-controller="Users" asp-action="UserList">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Manage Users</h5>
                        <img class="card-img" src="img/usericon.png" alt="user icon">
                    </div>
                </div>
            </a>
        }
    </div>
</div>