@model InventoryWebApplication.Operations.MessageOperation

@{
    ViewBag.Title = "Login";
    ViewBag.PreviousPage = "";
    Layout = "_FormsLayout";
}

<form class="simple-form" accept-charset="UTF-8" asp-controller="Authentication" asp-action="Authenticate" method="post">
    <div class="form-section">
        <label class="form-label" for="nameInput">Name: </label>
        <input name="name" type="text" id="nameInput">
        <br>

        <label class="form-label" for="passwordInput">Password: </label>
        <input name="password" type="password" id="passwordInput">
        <br>
    </div>
    <button class="btn-primary" type="submit">Send</button>
</form>