@model OperationResult

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<h2>Login</h2>
@if (!Model.IsEmpty)
{
    <div role="alert" class="alert-@Model.Severity" id="failed-alert">@Model.Message</div>
}

<form class="simple-form" accept-charset="UTF-8" asp-controller="Authentication" asp-action="Authenticate" method="post">
    <div class="form-body">
        <label class="form-label" for="usernameInput">Name: </label>
        <input name="username" type="text" id="usernameInput">
        <br>
        
        <label class="form-label" for="passwordInput">Password: </label>
        <input name="password" type="password" id="passwordInput">
        <br>
    </div>
    <input type="submit" id="submitButton">
</form>

@section Scripts
{
    @if (!Model.IsEmpty)
    {
        <script>
            fadeAlert();
        </script>
    }
}
